extends layout

block content
  div.row
    div.col-md-7
    div.col-md-3.hayley-panel
      h4.panel-heading What I Love About You
      div.output-wrapper.row
        p.output
      div.hayley-button
        |Next
    div.col-md-2

