doctype html
html
  head
    title= title
    link(rel='styleSheet', href='/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/css/styles.min.css')
    script(type="text/javascript" src="/dist/js/jquery.min.js")
    script(type='text/javascript' src='/dist/js/main.min.js')
  body
    block content
