doctype html
html
  head
    title= title
    link(rel='styleSheet', href='/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/css/styles.min.css')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    script(type="text/javascript" src="/dist/js/jquery.min.js")
    script(type='text/javascript' src='/dist/js/main.min.js')
    meta(charset='UTF-8')
    meta(name='description', content='Website for Hayley')
    meta(name='keywords', content='hayley,hayley1993')
    meta(name='author', content='Peter Coleman')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content
