body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/background-min.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #424242;
}


a {
  color: #00B7FF;
}

h4{
  color: #3E3E3E;
  font-size: 48px;
}

.panel-heading{
  margin-top: 20px;
}

.hayley-panel{
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  margin-top: 100px;

}

.hayley-button{
  width: 40%;
  background: white;
  border: solid 1px dimgrey;
  text-align: center;
  line-height: 30px;
  font-size: 36px;
  margin: 20px auto;
  cursor: pointer;
  padding: 10px;
}

.hayley-button:hover{
  background-color: dimgrey;
  color: white;
}

.output-wrapper{
  min-height: 350px;
  text-align: center;
}

.panel-heading{
  text-align: center;
}

.output{
  margin: 50px 10px;
  font-size: 20px;
  padding: 10px;
}


@media (max-width: 992px){
  .hayley-panel{
    width: 80%;
    margin: 50px auto;
    padding: 10px 10px;
  }

  .body{
    background-size: auto;
  }

  .output{
    font-size: 30px;
  }

  .output-wrapper{
    min-height: 450px;
  }
}